fastapi
uvicorn
python-multipart
sqlalchemy
casbin
langchain
langchain-aws
langchain-community
langchain-core
langgraph
chromadb
sentence-transformers
pypdf
boto3
pydantic
python-dotenv
langchain-huggingface    
langchain-chroma         